* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding-left: 15px;
    background: #333;
    font-family: "Arial Black";
    margin-top: 100px;
}
#weather {
    text-align: center;
    color: #fff;
    font-size: 50px;

}
.box {
    background-color: #ff9800;
    padding: 5px;
    border-radius: 500px;
}
form {
    margin: 10px;
    text-align: center;
}
.label {
    color: white;
    font-size: 24px;
}
input {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}


